<!-- Header -->
<header>
              li{outline:0; border-radius:16px; display:inline-block; padding:; background-color:#3F51B5;}
            ul{outline:0; list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color:#FDF5E6}
<div class="w3-display-container w3-content w3-center" style="max-width:2000px">
<!--  <img src="bubblechamber.png" alt="background" width="2000" height="500">-->
  <img src="#FDF5E6.jpg" alt="background" width="2000" height="250">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge w3-text-indigo"><b>MICHAEL CULLEN</b></h1>
      <h5 class="w3-hide-large w3-text-indigo" style="white-space:nowrap">MICHAEL CULLEN</h5>
      <h3 class="w3-hide-medium w3-hide-small w3-text-indigo"><b>Physicist</b></h3>
  </div>
  <!-- Navbar (placed at the bottom of the header image) -->
  <div class="w3-bar custom-background-cream w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-32px">
    <li><a href="/#/" class="w3-round-large w3-bar-item w3-button">Home</a></li>
    <li><a href="/#about" class="w3-round-large w3-bar-item w3-button">About</a></li>
    <li><a href="/#projects" class="w3-round-large w3-bar-item w3-button">Projects</a></li>
    <li><a href="/cv" class="w3-round-large w3-bar-item w3-button">CV</a></li>
    <li><a href="/#contact" class="w3-round-large w3-bar-item w3-button">Contact</a></li>
  </div>
</div>
</header>
<!-- Navbar on small screens -->
<div class="w3-center custom-background-cream w3-padding-16 w3-hide-large w3-hide-medium">
<div class="w3-bar custom-background-cream">
  <li><a href="#" class="w3-bar-item w3-button">Home</a></li>
  <li><a href="#projects" class="w3-bar-item w3-button">Projects</a></li>
  <li><a href="#cv" class="w3-bar-item w3-button">CV</a></li>
  <li><a href="#contact" class="w3-bar-item w3-button">Contact</a></li>
</div>
</div>