<title>Michael Cullen's CV</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
  {% include 'style.css' %}
</style>

<body class="custom-background-cream">
{% include 'header.html' %}
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding w3-padding-16">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-light-grey w3-text-pale-blue w3-card-4">
        <div class="w3-container w3-padding-16 w3-center">
          {% load static %}
          <img src="{% static 'Michael_Cullen_Red.jpg' %}" style="width:80%" alt="Profile Picture" border="1">
          <hr>

          <div class="w3-display-top w3-container w3-text-black">
            <h2><b>Michael Cullen</b></h2>
          </div>
        </div>

        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large text-burgundy"></i><b>Physicist</b></p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large text-burgundy"></i><b>London, UK</b></p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large text-burgundy"></i><b>michaelcullen2011@hotmail.co.uk</b></p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large text-burgundy"></i><b>+44 77159 24881</b></p>
          <hr>
          <br>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right text-burgundy"></i>Skills</b></p><br>
          <p><b>Problem Solving</b></p>
          <div class="w3-light-indigo w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge burgundy" style="width:90%">90%</div>
          </div>
          <br>

          <p><b>Python</b></p>
          <div class="w3-light-indigo w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge burgundy" style="width:90%">90%</div>
          </div>
          <br>

          <p><b>Latex</b></p>
          <div class="w3-light-indigo w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge burgundy" style="width:90%">90%</div>
          </div>
          <br>

          <p><b>Data Analysis Software (Pandas, Numpy, Tableau)</b></p>
          <div class="w3-light-indigo w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge burgundy" style="width:80%">80%</div>
          </div>
          <br>

          <p><b>TensorFlow</b></p>
          <div class="w3-light-indigo w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge burgundy" style="width:70%">70%</div>
          </div>

          <br>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right text-burgundy"></i>Languages</b></p>
          <p><b>English</b></p>
          <div class="w3-light-indigo w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge burgundy" style="width:95%">95%</div>
          </div>
          
          <br>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-pencil fa-fw w3-margin-right text-burgundy"></i>Interests</b></p>
          <div class="w3-padding-16 w3-center">
            <p>
              <i class="fa fa-plane fa-fw w3-margin-right w3-xxlarge text-burgundy"></i>
              <i class="fa fa-headphones fa-fw w3-margin-right w3-xxlarge text-burgundy"></i>
              <i class="fa fa-book fa-fw w3-margin-right w3-xxlarge text-burgundy"></i>
            </p>
          </div>
          <br>
        </div>
      </div>
      <br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-light-grey w3-margin-bottom">
        <h2 class="w3-text-black w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge text-burgundy"></i><b>Education</b></h2>
        <div class="w3-container">
          <h5 class="w3-text-black"><b>Loughborough University</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right text-burgundy"></i>2016 - 2020</h6>
          <p><b>M.Phys 1st Class Honours</b></p>
            <p> <b> "Quantum Computing using Neutrino Oscillations" </b> </p>
            <div class="w3-text-container">
              <p>Studying the effects neutrino qubits would have in a neutrino-lepton interacting quantum gate
                computer, largely exploring the physics and the possibility or impossibility of such a device. Deriving
                integrated cross sections from W and Z Boson couplings for each neutrino-lepton interaction we
                were able to predict probabilistic gates and therefore the probability of success of a neutrino-lepton
                quantum gate.</p>
            </div>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-text-black"><b>Claremont Academy</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right text-burgundy"></i>2010 - 2013</h6>
          <p><b>A levels</b> - A B C </p><br>
        </div>
      </div>



      <div class="w3-container w3-card w3-light-grey w3-margin-bottom">
        <h2 class="w3-text-black w3-padding-16 w3-bold"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge text-burgundy"></i><b>Work Experience</b></h2>
        <div class="w3-container">
          <h5><b>Front of House - Jam Garden</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right text-burgundy"></i>October 2020 - Now</h6>
<!--          <h6 class="text-burgundy"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2019 - <span class="w3-tag burgundy w3-round">Current</span></h6>-->
        </div>
        <div class="w3-container">
          <h5><b>Front of House - Preston Pub</b></h5>
          <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right text-burgundy"></i>July 2019 - October 2020</h6>
<!--          <h6 class="text-burgundy"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2019 - <span class="w3-tag burgundy w3-round">Current</span></h6>-->
        </div>
      </div>




      <div class="w3-container w3-card w3-light-grey w3-margin-bottom">
        <h2 class="w3-text-black w3-padding-16 w3-bold"><i class="fa fa-lightbulb-o fa-fw w3-margin-right w3-xxlarge text-burgundy"></i><b>Projects</b></h2>

        <div class="w3-container">
          <h5><b>Favourite Machine Learning Project</b></h5>
          <a href="https://github.com/MichaelCullen2011/NSTBackend" target="_blank" class="button" style="width: 20%"><h5><b class="fa fa-github-square w3-hover-opacity text-burgundy"> </b> Neural Style Transfer Network </h5></a>
        </div>

        <div class="w3-container">
          <h5><b>Favourite Simulation Project</b></h5>
          <a href="https://github.com/MichaelCullen2011/InterstellarMotion" target="_blank" class="button" style="width: 20%"><h5><b class="fa fa-github-square w3-hover-opacity text-burgundy">  </b>  Interstellar Motion </h5></a>
        </div>

        <div class="w3-container">
          <h5><b>Favourite Game Project</b></h5>
          <a href="https://github.com/MichaelCullen2011/Chess" target="_blank" class="w3-center button"><h5><b class="fa fa-github-square w3-hover-opacity text-burgundy"> </b> Chess</h5></a>
        </div>

      </div>
      </div>
    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
{% include 'socials.html' %}
</body>
