{% load static %}
<title>Michael Cullen's Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="{% static 'templates/app.js' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<body class="custom-background-cream">
    <style>
    {% include 'style.css' %}
    </style>

    <!-- Header and Navbar -->
    {% include 'header.html' %}

    <div class="w3-content w3-margin-top w3-center" id='tableau1'>
        <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge text-burgundy w3-display-top w3-center">Telecom Customers Tableau Project</h1>
    </div>


    <div align='center'>
        <iframe src="https://public.tableau.com/views/Telecom_16181768278060/DemographicBreakdown1?:language=en-GB&:display_count=y&publish=yes&:origin=viz_share_link?:showVizHome=no&:embed=true" 
            width="1050" height="850"></iframe>
    </div>

    <div align='center'>
        <iframe src="https://public.tableau.com/views/Telecom_16181768278060/DemographicsBreakdown2?:language=en-GB&:display_count=y&publish=yes&:origin=viz_share_link?:showVizHome=no&:embed=true" 
            width="1050" height="850"></iframe>
    </div>


    <!-- Socials Container -->
    {% include 'socials.html' %}
</body>